
<%= simple_form_for @reservation do |f| %>
  <legend>Make Reservation</legend>
  <%= f.input :machine_name, :collection => Machine.all.collect{|machine| machine.name}, :disabled => true %>
  <%= f.input :machine_platform, :collection => Platform.all.collect{|platform| platform.name}, :disabled => true %>
  <%= f.input :machine_reserver, :collection => User.all.collect{|user| user.name} %>
  <%= f.input :reserve_from, :label => "Reserve Start Date", :as => :datetime %>
  <%#= f.input :reserve_time_from, :label => "Time" -%>
  <%= f.input :reserve_to, :label => "Reservation End Date", :as => :datetime %> 
  <%#= f.input :reserve_time_to, :label => "Time" -%> 
  <% f.input :time_zone, :priority => /US/, :label => "Time Zone" %> 
  <div class="form-actions">
      <%= f.submit 'Make Reservation',:class => 'btn btn-primary' %>
      <%= link_to 'Cancel', reservations_path, :class => 'btn' %>
    </div>
<% end %>	
