<h1>Reservations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Machine name</th>
      <th>Platform</th>
      <th>Reserve From</th>
      <th>Reserve Time From</th>
      <th>Reserve To</th>
      <th>Reserve Time To</th>
      <th>Reserved By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= link_to reservation.machine_name, reservation_path(reservation) %></td>
        <td><%= reservation.machine_platform %></td>
	<td>
 <%#= Need to add 'and condition' for time along with date  and use 'Or check nil' -%>	
	<% if (Date.today > reservation.reserve_to) %>
	  <%  %> 
	<% else %>
	<%= reservation.reserve_from %>
	<% end %>        
	</td>       

	
	<td>
	<% if (Date.today > reservation.reserve_to) %>
	  <%  %> 
	<% else %>
	<%=  reservation.reserve_time_from.to_formatted_s(:long)  %>
	<% end %>        
	</td>

	<td>
	<% if (Date.today > reservation.reserve_to) %>
	  <%  %> 
	<% else %>
	<%= reservation.reserve_to  %>
	<% end %>        
	</td>
	
	<td>
	<% if (Date.today > reservation.reserve_to) %>
	  <%  %> 
	<% else %>
	<%= reservation.reserve_time_to.to_formatted_s(:long) %>
	<% end %>        
	</td>

	<td>
	<% if (Date.today > reservation.reserve_to) %>
	  <%  %> 
	<% else %>
	<%= reservation.machine_reserver  %>
	<% end %>        
	</td>

<td>
<% if (Date.today > reservation.reserve_to) %>
 <%= link_to 'Reserve', edit_reservation_path(reservation), :class => 'btn btn-primary' %> 
<% else %>
<b><%= 'Reserved' %></b>
<%#= link_to 'Reserved', reservation_path(reservation), :class => 'btn btn-mini btn-danger' -%> 
<% end %>
 <%#= link_to 'Reserve', edit_reservation_path(reservation), :class => 'btn btn-mini' -%>
          <%= link_to 'Release', reservation_path(reservation), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-mini-danger' %>    
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_reservation_path, :class => 'btn btn-primary' %>
